<h1>Hi and welcome to my blog 👋🏻</h1>
<sub class="subtitle">Author: Jeffrey | (@jefiozie)</sub>
<p>
    Thank you for visiting my site, I'm a developer with a passion for the web!
</p>
<p>
    Everyday is a new day to improve myself and I'm always trying to become the best version of myself.a
    I live in the Netherlands and love doing open source work, checkout <a href="/projects">projects</a> I've am the
    author of <a href="https://www.npmjs.com/package/@jefiozie/ngx-aws-deploy">ngx-aws-deploy</a>
    and core maintainer of <a href="https://xlayers.dev">xLayers</a>
</p>

<p>
    You can find me on <a href="https://twitter.com/jefiozie">Twitter</a> and send me a DM.
</p>
<ng-content></ng-content>