<jbb-toolbar (toggle)="onNavToggle()" [navOpend]="navOpend | async"></jbb-toolbar>
<mat-sidenav-container class="sidenav-container" (backdropClick)="onBackDropClick()">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="navOpend | async">
    <jbb-navigation></jbb-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet>
      </router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>