<mat-nav-list>
    <a mat-list-item routerLink="home" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        Home
    </a>
    <a mat-list-item routerLink="/articles" routerLinkActive="active">
        <mat-icon mat-list-icon>description</mat-icon>
        Articles
    </a>
    <a mat-list-item routerLink="/projects" routerLinkActive="active">
        <mat-icon mat-list-icon>build</mat-icon>
        Projects
    </a>
    <a mat-list-item routerLink="/about" routerLinkActive="active">
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        About me
    </a>
</mat-nav-list>