@use '@angular/material' as mat;

@mixin jbb-navigation-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  jbb-navigation {
    .mat-list-item.active {
      color: mat.get-color-from-palette($accent);
    }
  }
}
